/*Variables*/

azul = #22BCE0
gris-oscuro = #444
naranja = #f26b00

/*Fin de las Variables*/

body
	background #e8e8e8
	color gris-oscuro
	font-family arial
	font-zise 16px

header
	background gris-oscuro
	color white
	padding 0.5em
	position relative

	.logo
		border-right 1px solid azul
		float left
		width 80px

		img
			width 52px

	.titular
		margin 0 80px 0 100px
		.titulo
			font-zise 18px
			font-weight normal
			margin 0
			padding 0

	.usuario
		position absolute
		top 0px
		right 0px
		.avatar
			margin 0.7em 2em 0 0
			position relative
			z-index 2
			img
				width 50px
				border-radius 50px 

	.flecha
		background naranja
		color white
		display block
		position absolute
		padding 0.1em
		right 20px
		top 27px
		text-align right
		width 3em

nav
	background azul










